*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper    {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;   
}

.filter-field-wrapper   {
    margin-left: 5px;
}
.filter-field    {
    display: flex;
    justify-content: space-evenly;
}
.books  {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
button  {
    margin-left: 10px;
    width: 5rem;
}